<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="container py-2">
    <nav class="nav d-flex justify-content-between">
      <h1>
        <a class="logo-primary d-block text-hide" href="../dist/index.html">
          香水電商
        </a>
      </h1>

      <ul class="list-unstyled d-flex  align-items-center">
        <li class="d-none d-md-block"><a class="d-flex align-items-center text-my-secondary"
            href="../dist/product.html">
            <span class="material-icons">store</span>
            Product</a></li>
        <li class="d-none d-md-block"><a class="d-flex align-items-center text-my-secondary ml-5"
            href="../dist/login.html">
            <span class="material-icons">person</span>
            log in</a></li>
        <li class="d-none d-md-block"><a class="d-flex align-items-center text-my-secondary ml-5" href="#">
            <span class="material-icons">favorite</span>
            Wishlist</a></li>
        <li><a class="d-flex align-items-center text-my-secondary ml-5" href="#">
            <span class="material-icons">shopping_cart</span>
            Cart(3)</a></li>
        <li class="d-md-none d-block"><a class="d-flex align-items-center text-my-secondary ml-3" href="#"
            data-toggle="modal" data-target="#mobile-nav-ModalCenter">
            <span class="material-icons">table_rows</span>
          </a></li>
      </ul>
    </nav>
  </div>

  <%- contents %>

  <div class="bg-my-primary pt-2">
    <div class="container">
      <nav class="row nav d-flex justify-content-between">
        <div class="col-md-6 col-12 d-flex align-items-center justify-content-between justify-content-md-start">
          <h2>
            <a class="logo-success d-block text-hide" href="../dist/index.html">
              香水電商
            </a>
          </h2>
          <p class="mt-2 ml-3 text-my-success font-size-my3">© 2020. All Rights Reserved.</p>
        </div>

        <ul class="col-md-6 list-unstyled d-flex  align-items-center d-none justify-content-end">
          <li class="d-none d-md-block"><a class="text-my-success font-size-my5" href="../dist/product.html">Product</a>
          </li>
          <li class="d-none d-md-block ml-5"><a class="text-my-success font-size-my5" href="#">Blog</a></li>
          <li class="d-none d-md-block ml-5"><a class="text-my-success font-size-my5" href="#">Contact</a></li>
        </ul>
    </div>
  </div>


  <!--mobile nav modal-->
  <div class="modal fade bg-my-modal" id="mobile-nav-ModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="mobile-nav" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content bg-my-modal">
        <div class="modal-body font-weight-bold text-center text-my-primary pt-8">
          <ul class="list-unstyled">
            <li class="row"><a class="col-12 bg-my-info py-3 mb-1 text-my-light font-size-my5"
                href="../dist/product.html">Product</a></li>
            <li class="row"><a class="col-12 bg-my-info py-3 mb-1 text-my-light font-size-my5" href="#">Wishlist</a>
            </li>
            <li class="row"><a class="col-12 bg-my-info py-3 mb-1 text-my-light font-size-my5" href="#">Blog</a></li>
            <li class="row"><a class="col-12 bg-my-info py-3 mb-1 text-my-light font-size-my5" href="#">Contact</a></li>
            <li class="row"><a class="col-12 bg-my-info py-3 mb-1 text-my-light font-size-my5"
                href="../dist/login.html">log in</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--bs4-cdn-js-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <!--all-js-->
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>