
*,*:before,*:after{
              box-sizing:border-box;
}

img{
  max-width: 100%;
	height: auto;
	display: block;
}

a{
  display: block;
  text-decoration: none;
  color: $text-primary;
}

body{
  line-height: 1.5;
  font-weight: bold;
  font-family: "Microsoft JhengHei";
}
h1,h2,h3,h4,h5,h6{
  line-height: 1.2;
}

.read-container {
  max-width: 1110px;
  margin: 0 auto;
  padding-right: 39px;
  padding-left: 39px;
  @include pad{
    max-width: 690px;
    }
  @include mobile{
    max-width: 345px;
    padding: 0 15px;
    margin: 0;
  }
}
