.nav{
  /*height: 108px;*/
  background: #AA0601;
  padding: 30px 80px;
  @include mobile{
      flex-direction: column;
      align-items: center;
      padding-bottom: 0;
    }
  .logo{
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    @include mobile{
      margin-bottom: 11px;
    }
    a{
    width: 80px;
    height: 48.57px;
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true);
    }
  }

  .menu{
    width: 576px;
    @include mobile{
      flex-wrap: wrap;
      justify-content: center;
      max-width: 375px;
    }
    li{
      @include mobile{
      width: 50%;
      border: 1px solid #fff;
    }
    }

    a{
      color: #fff;
    padding: 10px 32px;
    font-size: 20px;
    line-height: 28px;
    transition: 0.3s;
    }
    a:hover{
      background: #FF7575;
    border-radius: 20px;
    }
  
 } 
}

.header{
  height: 304px;
  background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/qa.png?raw=true)center;
  margin-bottom: 16px;
  .read-container{
    height: 304px;
  }
  h2{
    font-size: 64px;
    line-height: 90px;
    margin-right: 24px;
    @include pad{
      font-size: 48px;
      line-height: 67px;
    }
    @include mobile{
      font-size: 28px;
      line-height: 40px;
    }
  }
  img{
    width: 40.33px;
    height: 57.9px;
    @include pad{
      width: 30.49px;
      height: 43.78px;
    }
    @include mobile{
      width: 16.72px;
      height: 24px;
    }
  }
}

.store{
  padding: 0;
 }
//page
.store-information{
  margin-bottom: 304px;
  @include pad{
  display:block;
  margin-bottom: 104px;
  }
  @include mobile{
    margin-bottom: 56px;
  }
  .Location-section{
    select{
      @include pad{
        width: 324px;
      }
      @include mobile{
        width: 277px;
      }
    }
  }
  .map{
    width: 635px;
    height: 422px;
    @include pad{
      width: 690px;
      height: 465px;
    }
    @include mobile{
      width: 345px;
      height: 227px;
    }
  }  
  .store-photo{
    width: 445px;
    height: 224px;
    background-size: cover;
    @include pad{
      width: 330px;
      height: 164px;
    }
    @include mobile{
      width: 345px;
      height: 164px;
    }
  }
  .card-item{
    margin-left: 0;
    width: 445px;
    @include pad{
      display:flex;
      justify-content: space-between;
      border: 0;
      width: 690px;
      margin: 0;
      margin-bottom: 32px;
    }
    @include mobile{
      max-width: 345px;
      display: block;
      margin-bottom: 16px;
    }
  }
  .card-text-wrap{
    @include pad{
      width: 330px;
      border: 1px solid #00000020;
    }
    @include mobile{
      width: 345px;
    }
  }
  .card-text{
    @include pad{
      margin-right: 15px;
    }
  }
}


.footer{
  .read-container{
    @include mobile{
      position: relative;
    }
  }
  background:  #AA0601;
  padding-top: 48px;
  padding-bottom: 28.43px;
  .content{
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 24px;
  }
  .menu-tel-emil-wrap{
    width: 368px;
  }
  .menu{
    line-height: 22px;
    margin-bottom: 39px;
    a{
      padding: 10px 5px;
      transition:0.3s;
    }
    a:hover{
      background: #FF7575;
    border-radius: 20px;
    }
    @include mobile{
      display: none;
    }
  }
  .tel,.email{
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 26px;
      @include pad{
        font-size: 20px;
        line-height: 26px;
        }
      @include mobile{
        font-size: 16px;
        line-height: 21px;
      }  
      img{
        margin-right: 20px;
        max-width: 38px;
        height: auto;
        @include pad{
        max-width: 24px;
        height: auto;
        }
      }
      a{
        transition:0.3s;
      }
      a:hover{
      background: #FF7575;
    border-radius: 20px;
    }
    }
  .icon{
    width: 208px;
    @include pad{
        width: 120px;
        }
    }
    img{
      max-width: 48px;
        height: auto;
        transition: 0.3s;
      &:hover{
      background: #FF7575;
    border-radius: 20px;
    }
    @include pad{
        max-width: 24px;
        height: auto;
        }
    }
  
  
  .logo-text-privacy-wrap{
    @include mobile{
      display: block;
    }
  }
  .logo-text{
    img{
      margin-right: 38px;
      max-width: 80px;
      height: auto;
      @include pad{
        display: none;
        }
      @include mobile{
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 46px;
        height: auto;
      }
    }
    p{
      color:$text-primary;
      @include mobile{
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 7px;
    }
    }
  }
  .privacy{
    @include mobile{
      display: block;
    }
    font-size: 14px;
    line-height: 20px;
    li{
      margin-left: 42px;
      @include mobile{
      margin-left: 0;
      max-width: 70px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 7px;
    }
    }
    a{
      padding: 5px 10px;
      transition: 0.3s;
      @include mobile{
      padding: 0;
    }
    }
    a:hover{
      background: #FF7575;
    border-radius: 20px;
    }
  }
}