/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*:after{
              box-sizing:border-box;
}

img{
  max-width: 100%;
  height: auto;
}



/*layout*/
a{
  text-decoration: none;
}

body{
/*font-family: "微軟正黑體";*/
font-family: "verdana";
}

.container.{
  width: 1920px;
  padding-top:47px;
  margin: 0 auto;
}
/*layout*/


.reading-container{
  width: 1200px;
  margin: 0 auto;
}


h2,p,li{
  font-weight: bold;
}

p,li{
  font-size: 24px;
  line-height: 36px;
}

.profile .title span,.education .title span,.work .title span{
  color:#A00404;
}


.skills,.footer{
  background-color: #415165;
  color: #FFFFFF;
  padding: 24px;
}

.skills .title,.footer .title{
  width: 996px;
  line-height: 45px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.skills span,.footer span{
  font-size: 24px;
  color: #ffff;
  line-height: 28px;
}

.skills li,.skills .title,.footer .title,.footer li{
  font-weight: normal;
}

.name{
  font-size: 80px;
  line-height: 94px;
  border-bottom: 2px solid #000000;
  margin-bottom: 48px;
}

.title{
  font-size: 32px;
  border-bottom: 2px solid	#8E8E8E;
  line-height: 43px;
  margin-bottom: 16px;
}

.title span{
  font-size: 24px;
  margin-left: 16px;
  line-height: 28px;
}

.profile{
  margin-bottom: 72px;
}

.profile img{
  margin-bottom: 48px;
}

.profile p,.education li{
  margin-bottom: 24px;
}

.education{
  margin-bottom: 72px;
}

.skills{
  margin-bottom: 72px;
}

.skills ul{
  width: 240px;
  margin: 0 auto;
  padding-left: 24px;
  border-left: 1px solid #96A9C4;
}

.skills li{
  margin-bottom: 20px;
}

.work{
  margin-bottom: 72px;
}

.work ul{
  padding-left: 24px;
  margin-left: 25px;
  border-left:1px solid #96A9C4;
  width: 642px;
}

.work li{
  line-height: 36px;
  margin-bottom: 24px;
}

.work li span{
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}

.work img{
  padding-top: 8px;
}

.footer ul{
  text-align: center;
}

.footer li{
  line-height: 36px;
  margin-bottom: 16px;
}

.footer li a{
  color: #02DF82;
  transition:0.3s;
}

.footer li a:hover{
  font-size: 28px;
}

.footer img{
  padding: 15px;
  transition: 0.5s;
}

.footer img:hover{
  
  border:5px solid #02DF82;
  border-radius: 50px;
}



/*@media(max-width: 768px){

}

@media(max-width: 375px){
  
}*/